.express{
    width: 85%;
    overflow: hidden;
    background: #f2f6ff;
}
.DetailList {
    width: 100%;
    background: #f2f6ff;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    padding-left: 30px;
}
.parter-info .item .upload-pic{
    position: absolute;
    width: 1000px;
    height: 600px;
    z-index: 100;
    top: 100px;
    left:-250px;
}