.userDetail {
    width: 100%;
    height: 500px;
    background:#f2f6ff;
}
.DetailList {
    width: 100%;
    background: #f2f6ff;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}
.shaxuan{
    width: 100%;
    display:flex;
    margin:20px 0 10px 0;
}
.ant-select{
    margin:0px 20px 0px 10px;
}